@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    /*  */
    --font-montserrat: Montserrat, serif;
    --font-alegreya: Alegreya, serif;
    --color-ivory: #FFFFF0;
    --color-light-green: #29ce8e;
    --color-light-100: #cecefb;
    --color-light-200: #a8b5db;
    --color-gray-100: #9ca4ab;
    --color-dark-100: #0f0d23;

    --breakpoint-xs: 480px;
}

@layer base {
    body {
        font-family: "Alegreya", serif;
        color: black;
    }

    h1 {
        @apply mx-auto max-w-5xl text-5xl font-bold leading-tight tracking-[-1%] sm:text-[64px] sm:leading-[76px];
    }

    h3 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    button {
        cursor: pointer;
    }
}

@layer component {
    .recycle-card{
        @apply flex-col flex-center bg-white p-5 rounded-2xl shadow-inner m-3 shadow-light-100/10;

        /* & img {
            width: 15vw;
            height: 40vh;
        } */
        & img {
            @apply rounded-lg h-75;
        }

        & input {
            @apply text-xl mx-2 my-2 px-3 py-2;
            background-color: #eee;
            border: none;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }

        & button {
            @apply bg-light-green text-ivory rounded-xl px-2 py-1;
        }
    }

    .recycle-container {
        @apply space-y-9;
    
        & ul {
            @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
        }
    }

    .store-container {
        @apply font-montserrat bg-white rounded-[30px] shadow-lg relative overflow-y-auto w-full max-w-[1024px] min-h-[480px] max-h-[80vh] h-auto p-6 sm:p-8;

        & button {
            @apply bg-light-green text-ivory rounded-xl px-1 py-1 hover:bg-blue-600 hover:text-white;
        }

        & img {
            @apply rounded-lg w-[90%] h-[70%];
        }
    }

    .middle-container {
        @apply p-5 overflow-y-auto;

        .middle-cards {
            @apply w-[30vw] bg-ivory flex items-center flex-col p-5 rounded-2xl;
        }

        & h2 {
            @apply text-3xl font-bold text-center;
        }

        & img {
            @apply rounded-lg w-[90%] h-[70%] m-3;
        }

        & p {
            @apply text-xl;
        }
    }
}


@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#28620d] to-[#0dab9f] bg-clip-text text-transparent;
}

@utility modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@utility close-button {
    position: absolute;
    top: 15px;
    cursor: pointer;
    color: black;
}

.scrollbar::-webkit-scrollbar {
width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
background: #aaa;
}